@use './partials/variables' as *;
h1{
    color: $white;
}
.info{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    .title{
        .subtitle{
            color: rgb(147, 147, 147);
        }
    }
}
.info:hover .content{
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 100;
}